body{
background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}
label{
    color: white;
}
textarea{
    margin-top: 52px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-left: 20px;
  padding-bottom: 10px;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: #f0f0f0;
    background: transparent;
    border: none;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}
.white{
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}